<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Choose a story from New York Times</title>
</head>


<style>

    body {
		
		background:#FAFAFA;
        
        margin: 0;
        padding: 0;
    }
	
	*{ font-family:"fantasy";}   // to change the font here
	
	.xw{ width:450px; height:130px; color:#55565B; text-align:left; margin:20px auto; border-radius:5px;  border:1px solid #ccc; box-shadow:#ccc 1px 1px 1px; }


.xwl{ width:130px; height:130px; float:left; overflow:hidden;   }
.xwr{ padding-left:15px; padding-top:6px; box-sizing:border-box; width:320px; height:130px; float:left;    }  

.stt{ width:100%; font-size:16px; }
.stt1{ font-size:12px; padding-top:8px; height:85px; overflow:hidden; padding-right:15px;  }

.dwbk{ width:570px; height:565px; padding:10px; margin-top:150px; }


</style>


<body>


<div style="width:1150px; margin:auto; padding-top:40px;">


<div style="float:left; text-align:center; width:530px;">
  <img src="images/logo.JPG" width="456" height="131" /> 
  
  <div class="xw">
  
  <div class="xwl"><img src="images/a2.jpeg" height="100%"  /></div>
   <div class="xwr">
   <div class="stt">How to Build a Successful Team</div>
    <div class="stt1">

      Building a successful team is about more than finding a group of people with the right mix of professional skills. Over the course of interviewing over 500 leaders for Corner Office, I asked them all about the art of fostering a strong sense of teamwork. Their insights can help you lay the groundwork for a highly productive team that can communicate, cooperate and innovate in an atmosphere of mutual trust and respect.

      MAKE A PLAN

                                                                      CREATE A CLEAR MAP

          Leaders owe their teams an answer to the same question that young children often ask their parents before setting out on a long drive: “Where are we going and how are we going to get there?” In other words, what is the goal and how are we going to measure progress along the way? 

          And that may sound simple, but it is often one of the greatest challenges that teams, divisions and companies face. What does success look like? If you were to set up a scoreboard to track success over time, what would it measure? 

          The trouble often starts when leaders start listing five or seven or 11 priorities. As Jim Collins, the author of the best-selling management books “Good to Great” and “Built to Last,” is fond of saying: “If you have more than three priorities, you don’t have any.” Determining these priorities and how they’re going to be measured is arguably the most important job of a team leader because most of the work that everybody does will flow from those goals. Those priorities have to be lined up as carefully as the trajectory of a rocket launch, because even the slightest miscalculation can take a team off-course over time.

                                                                    HAVE A SHARED SCOREBOARD

          Another benefit of having a simple plan is that it creates a shared goal that will offset the tendency of people to identify themselves as part of smaller groups. Think of a football team, for example. There are many “tribes” within a team – offense and defense, linemen and receivers, running backs and defensive backs. But because the goal of the team is clear, and there’s an external scoreboard to track progress, there is a greater sense of “us” on the team than the “us and them” dynamic that can often divide colleagues in companies.

          “Metrics are actually the way that you can harmonize a large number of people, whether it’s dozens or even thousands,” said Adam Nash, the former chief executive of Wealthfront, an online financial management firm, who is now an executive in residence at Greylock Partners, the venture capital firm. That way, he added, “when they’re on their own and making their own decisions, they can be empowered to make those decisions because they know they’re aligned with the rest of the company.”

          In the absence of that simple, shared scoreboard, people will make up their own ways to measure their success, Mr. Nash added.

          “If you have a company where everyone has their own ways of keeping score, you’ll get incessant fighting and arguments, and they’re not even arguing about what to do,” he said. “They’re arguing about how to keep score. They’re arguing about what game we’re really playing. That’s all counterproductive.”

                                                                YOU MAY FEEL LIKE A BROKEN RECORD...

          Once you have a simple plan, you have to keep reminding your team of the priorities, even if it can feel repetitive. People often have to hear something a few times before they truly remember it. Marc Cenedella, chief executive of TheLadders.com, a job search site, shared a good rule of thumb:

          “You say something seven times and they haven’t heard you,” he said. “Until they start making jokes about how often you repeat it, they haven’t internalized it.” 

      RULES OF THE ROAD

                                                                    CREATE YOUR TEAM'S CULTURE

          All families have values, even if they aren’t discussed explicitly.  There are certain behaviors that are encouraged and discouraged — like rules of the road — for how everyone is going to (try to) get along and spend their time. 

          Teams aren’t really that different. Pull together a group of  people to work on any project, and they will develop a culture of their own, and it will be as unique as the people in the group. 

          As a leader, you can take a laissez-faire approach and hope the team meshes well over time. Or you can look for opportunities to set some shared guidelines for how  people will work together. 

          There are no hard and fast rules for developing the cultural values of a team. In some cases, the founder of a company will issue them to employees. In others, top executives will turn the exercise over to employees to make it a bottom-up effort. 

                                                                        ...AND STICK TO IT

          The most important thing is for the team or company to live by their stated values, rather than just going through the motions of the exercise, with people earning promotions even though their behavior runs directly counter to the stated rules of the road. 

          “I think it’s easy for people at many companies to become cynical, which then leads to politics, which can create a cancer that can topple even the greatest companies,” said Kathy Savitt, managing director at Perch Partners, a consulting firm.

      SHOW A LITTLE RESPECT

                                                                  THE EFFECTS OF A BAD BOSS

          Unfortunately, most of us have worked for at least one bad boss (and sometimes many of them) over the course of our careers. 

          They often share many of the same bad tendencies. They don’t listen. They micro-manage. They’re not trusting. They see employees only as pawns to help them accomplish their goals. They point fingers rather than owning their mistakes. They steal credit for the team’s accomplishments. They dress people down in front of their colleagues. The list goes on and on (sigh).

          That kind of treatment puts people in a defensive crouch and they start subconsciously checking part of their self-image at the door before they go into work. And it means that if they have an out-of-the-box idea for the team, they may think twice before sharing it, out of fear it will be dismissed. In this kind of environment, innovation is hard, if not impossible.

                                                                              SET THE TONE

          It is incredibly important for leaders to set a tone, and model the behavior, that everyone will respect one another. 

          Robin Domeniconi, chief executive of Thread Tales, a fashion company, told me at the time of our interview that she used the expression “M.R.I.” as a cornerstone of culture. 

          “M.R.I. means the ‘most respectful interpretation’ of what someone’s saying to you,” she said. “I don’t need everyone to be best friends, but I need to have a team with M.R.I. So you can say anything to anyone, as long as you say it the right way. Maybe you need to preface it with, ‘Can you help me understand why you don’t want to do this, or why you wanted to do this?’”

          John Duffy, chief executive of the mobile-technology company 3Cinteractive, said he established a zero-tolerance policy for disrespectful behavior. 

          “We have absolutely clear discussions with everyone about how respect is the thing that cannot be messed with in our culture,” he said. “When we have problems with somebody gossiping, or someone being disrespectful to a superior or a subordinate, or a peer, it is swarmed on and dealt with. We make everyone understand that the reason the culture works is that we have that respect. There is a comfort level and a feeling of safety inside our business.”
e</div>
   
   
   </div>
  </div>
  
  
  
   <div class="xw">
  
  <div class="xwl"><img src="images/a3.jpeg" height="100%"  /></div>
   <div class="xwr">
   <div class="stt">Should the Internet Be Regulated? </div>
    <div class="stt1">
    
    THE VICTORIAN INTERNET
    By Tom Standage

    The Federal Communications Commission’s plan to roll back net neutrality has sparked intense debate; those in favor worry that deregulation would limit access to information in a way that disproportionally affects vulnerable populations, while opponents argue that the market naturally regulates itself without government interference. Here are three books that examine both arguments and their historical precedents.

    In this history of the telegraph, which was developed in the United States and Britain during the 1840s, Standage demonstrates the parallels between the innovative technology of that era and today’s internet. The telegraph allowed people to communicate globally, changing the way business was conducted and even making transnational romance a possibility. Many hoped the accelerated communication would inspire greater international harmony. Standage cites a toast by the British ambassador in 1858 to “the telegraph wire, the nerve of international life, transmitting knowledge of events, removing causes of misunderstanding and promoting peace and harmony throughout the world.” The reality was less idyllic; people found ways to use the new form of communication to nefarious ends (like delaying messages or hacking private communication) and divisions were still perpetuated. But the telegraph’s cultural impact is undeniable, and Standage discusses its enduring influence in this book.

    WHO CONTROLS THE INTERNET? 
    By Jack Goldsmith and Tim Wu

    For an overview of the fight to keep the internet open, turn to this book, written by Wu, the Columbia law professor who coined the term “network neutrality,” and Harvard professor Jack Goldsmith. As the subtitle suggests, Goldsmith and Wu reckon with the idea that the internet would transcend borders and territorial rule. They cite case studies like Google’s struggle to do business in France and Yahoo’s compliance with Chinese censorship to demonstrate how governments continue to exert their influence to control the web. In his second book, “The Master Switch,” Wu discusses how consolidation in the communications industry can lead to stringent control of information by corporations and threaten the internet’s democratic design.

    THE FALLACY OF NET NEUTRALITY
    By Thomas W. Hazlett

    This brief primer presents the opposing view; Hazlett argues that government regulation stalls and suppresses innovation and that competing networks should be allowed to hash out the rules of managing web traffic among themselves. As he writes in his book, “This bountiful marketplace has emerged unplanned, unregulated, from the visions of technologists, the risks of venture capitalists, and the innovations of entrepreneurs.” Hazlett believes that trend can and should continue on its own.

    </div>
   
   </div>
  </div>
  
  
  
   <div class="xw">
  
  <div class="xwl"><img src="images/a4.jpeg" height="100%"  /></div>
   <div class="xwr">
   <div class="stt">Why Tring New Things Is So Hard to Do </div>
    <div class="stt1">

    I drink a lot of Diet Coke: two liters a day, almost six cans’ worth. I’m not proud of the habit, but I really like the taste of Diet Coke.

    As a frugal economist, I’m well aware that switching to a generic brand would save me money, not just once but daily, for weeks and years to come. Yet I only drink Diet Coke. I’ve never even sampled generic soda.

    Why not? I’ve certainly thought about it. And I tell myself that the dollars involved are inconsequential, really, that I’m happy with what I’m already drinking and that I can afford to be passive about this little extravagance.

    Yet I’m clearly making an error, one that reveals a deeper decision-making bias whose cumulative cost is sizable: Like most people, I conduct relatively few experiments in my personal life, in both small and big things.

    This is a pity because experimentation can produce outsize rewards. For example, I wouldn’t be risking much by trying a generic soda, and if I liked it enough to switch, the payout could be big: All my future sodas would be cheaper.

    When the same choice is made over and over again, the downside of trying something different is limited and fixed — that one soda is unappealing — while the potential gains are disproportionately large. One study estimated that 47 percent of human behaviors are of this habitual variety.

    Yet many people persist in buying branded products even when equivalent generics are available. These choices are noteworthy for drugs, when generics and branded options are chemically equivalent. Why continue to buy a name-brand aspirin when the same chemical compound sits nearby at a cheaper price? Scientists have already verified that the two forms of aspirin are identical. A little personal experimentation would presumably reassure you that the generic has the same effect.

    Our common failure to experiment extends well past generics, as one recent study illustrates. On Feb. 5, 2014, London Underground workers went on a 48-hour strike, forcing the closings of several tube stops. The affected commuters had to find alternate routes.

    When the strike ended, most people reverted to their old patterns. But roughly one in 20 stuck with the new route, shaving 6.7 minutes from what had been an average 32-minute commute.

    The closings imposed by the strike forced experimentation with alternate routes, yielding valuable results. And if the strike had been longer, even more improvements would probably have been discovered.

    Yet the fact that many people needed a strike to force them to experiment reveals the deep roots of a common reluctance to experiment. For example, when I think of my favorite restaurants, the ones I have visited many times, it is striking how few of the menu items I have tried. And when I think of all the lunch places near my workplace, I realize that I keep going to the same places again and again.

    Habits are powerful. We persist with many of them because we tend to give undue emphasis to the present. Trying something new can be painful: I might not like what I get and must forgo something I already enjoy. That cost is immediate, while any benefits — even if they are large — will be enjoyed in a future that feels abstract and distant. Yes, I want to know what else my favorite restaurant does well, but today I just want my favorite dish.

    Overconfidence also holds us back. I am unduly certain in my guesses of what the alternatives will be like, even though I haven’t tried them.

    Finally, many so-called choices are not really choices at all. Walking down the supermarket aisle, I do not make a considered decision about soda. I don’t even pause at the generics. I act without thinking; I automatically grab bottles of Diet Coke as I wheel my cart by.

    This is true not only in our personal lives. Executives and policymakers fail to experiment in their jobs, and these failures can be particularly costly. For example, in hiring, executives often apply their preconceived notions of which applicants will be a “good fit” as prospective employees. Yet those presumptions are nothing more than guesses and are rarely given the scrutiny of experimentation.

    Hiring someone who doesn’t appear to be a good fit is surely risky, yet it might also prove the presumptions wrong, an outcome that is especially valuable when these presumptions amount to built-in advantages for men or whites or people from economically or culturally advantaged backgrounds.

    For government policymakers, experimentation is a thorny issue. We are right to be wary of “experimenting” in the sense of playing with people’s lives. Yet we should also be wary of an automatic bias in favor of the status quo. That can amount to a Panglossian belief that the current policy is best, whereas the current policy may be actually be a wobbly structure held together by overconfidence, historical accident and the power of precedent.

    Experimentation is an act of humility, an acknowledgment that there is simply no way of knowing without trying something different.

    Understanding that truth is a first step, but it is important to act on it. Sticking with an old habit is comforting, but one of these days, maybe, I’ll actually buy a bottle of generic soda.

    </div>
   
   
   </div>
  </div>
  
  
  
   <div class="xw">
  
  <div class="xwl"><img src="images/a5.jpeg" height="100%"  /></div>
   <div class="xwr">
   <div class="stt">Sending Out an SOS: The Rise of Travel Security Apps</div>
    <div class="stt1">

    From transferring money to buying airline tickets, smartphone apps can be a traveler’s high-tech multitasker. But can they keep travelers safe? A new crop of apps seeks to offer that assurance.

    They may be cashing in on a sense of insecurity wrought by more frequent terrorist events, including the truck attack in Lower Manhattan in October, and recent natural disasters like hurricanes.

    “There are more risks now than in the past, but that doesn’t make travel more dangerous,” said Matthew Bradley, the regional director of security for International SOS, a medical and travel security risk services company. He cited the November 2015 terrorist attacks in Paris as ushering in the risk of terrorism to Europe that was once seen as unlikely.

    Still, car accidents and petty crimes such as pickpocketing are much more common travel threats than terrorism or kidnapping. To mitigate these risks, experts advise hiring drivers in foreign countries, carrying little cash and dressing inconspicuously to avoid attracting attention.

    “Americans have a lot of tells,” said Bruce A. Alexander, a terrorism expert and the former Iraq program manager in the antiterrorism office at the State Department. “Leave the San Diego State sweatshirt at home.”

    Supplementing these practices, security apps deliver incident updates in the location where a user is traveling. Notifications range from supplying country profiles before departure to alerts about disease outbreaks. Many also contain a panic button to summon assistance in an emergency.
    
    While few of these security apps replace travel insurance, which covers the cost of a medical emergency or evacuation, many do provide a range of services designed to keep travelers safe.

    Tracking users and triggering cost-free evacuations

    A new app from the London-based security firm Drum Cussac, CloseCircle, which is scheduled to be available this month (December), is designed to act as a security monitor and emergency evacuation service. The app digitally transmits your location to staff at headquarters (the firm says it just uses three percent of your phone’s battery power over 24 hours). When an emergency such as a terrorist attack or a hurricane occurs where you are traveling, company employees will call, check in and advise users on avoiding risk and getting out of harm’s way. When under threat, users can also engage an SOS button that summons a response from its agents.

    Unlike other security apps, CloseCircle membership guarantees a cost-free evacuation in the event of life-threatening danger. The service is backed by an insurance policy that covers the expenses.

    “CloseCircle is aiming to be pre-emptive wherever possible and to actually warn members away from dangers that they may not even yet be aware of,” Simon Philips, the chairman of Drum Cussac, wrote in an email.

    Terms: Annual memberships cost £195 a person, or about $260; £349 a couple; and £595 for a family of up to six people; closecircle.com.

    Tracking users on demand
     
    Developed by Incident Management Group, a firm that specializes in the security of business travelers and individuals, FoneTrac allows users to check in at the press of a button to let the firm and anyone on their designated contact list know that they are fine. The company also monitors security developments worldwide and will send a message to app users if anything from a terrorist attack to an earthquake is going on where they are. In the event of an emergency, a panic button provides the firm your location and triggers ground support.

    The app does not track a user’s physical location continuously, except in the event of a panic alert when it runs continuously, but inconspicuously, until it is physically turned off.

    Terms: $15 a month for a minimum of three months; fonetrac-go.com.

    Focusing on health and safety

    Established in 2012 and available on a mobile app since 2013, Sitata sends out “Trip Alerts” that cover any potentially travel-disrupting event, other than the usual flight delays. These could be disease outbreaks, violent protests, extreme weather or transit strikes. The coverage is global and the firm uses artificial intelligence to monitor the media, traditional and social, to track events worldwide.

    Founded by Ron St. John, the former director of emergency preparedness for Canada, and his son Adam St. John, the app was initially developed to disseminate public health information and expanded to more broadly address security. It remains strong in tracking disease outbreaks; the app will even inform users after they have returned from a trip if a disease such as dengue fever has broken out where they were traveling and if there was an incubation period.

    “This is important because you may come home and start to feel sick and go to your doctor and forget to say you were in Brazil, which could lead to misdiagnosis,” said Adam St. John, the chief executive officer of Sitata.

    Terms: Free for now, though the company plans to change in 2018 to  a modestly priced subscription service; sitata.com.

    Emergency alerts in New York and San Francisco

    Currently available only in New York and San Francisco, the new app Citizen alerts users to some events that have triggered a 911 call to local authorities. This could be any emergency related to public safety such as a bank robbery, fire or terrorist attack.

    If the event takes place within a quarter mile of your location, and the app is running, you will receive a push notification with the alert. Users are also able to discuss the incidents among themselves via the app, which displays a map showing where incidents are occurring.

    Originally launched as Vigilante, the company quickly rebranded after it became aware the name appeared to incite citizen action. “The name didn’t match our goal which is to keep people safe and not to encourage them to intervene and disrupt police officers,” said Lea Artz, a spokeswoman for Citizen.
    
    A smartwatch panic button

    ADT, the home security company, has announced its intention to follow its customers beyond their homes with its first app, ADT Panic Response, available only on Samsung Gear S2 and Gear S3 smartwatches.

    Watch wearers can engage the app in an emergency, which transmits a GPS location and connects to an ADT agent to dispatch help. The service is only available in the United States.

    “We like wearables because someone who might go out running tends not to take a smartphone with them because it’s bulky and heavy,” said Jay Darfler, the senior vice president of emerging markets at ADT. In the running example, he added, the user had turned his ankle in the woods, was unable to walk and summoned help via the watch app. The company plans to launch a related smartphone app next year.

    </div>
   
   
   </div>
  </div>
  
  
  
  
  </div>




   <div style="width:620px; float:left;">

   <p style="position: fixed; top: 140px; text-align: left"> Preview </p>

    <textarea id="dwbk" class="dwbk" cols="" rows=""></textarea>
   
   <input id = "submit" style="width:130px; height:50px; border:none; background:#06C; margin-top:20px; float:right; margin-right:25px; color:#fff; border-radius:100px; font-size:18px; outline:none;" value="select" type="button" />
   
   </div>










</div>


<script src="images/jq.js"></script>


<script>


$(function(){
	$(".xw").click(function(){
		
		
		$(this).find(".stt").text();
		$(this).find(".stt1").text();
		
		$("#dwbk").val("【TITLE】:  "+$(this).find(".stt").text()+"\n\n【CONTENT】:  "+$(this).find(".stt1").text());
		
		})
	
	
	
	})

document.getElementById('submit').addEventListener('click', function(){
      window.opener['output'].value = document.getElementById('dwbk').value;
      window.opener['output'].click();
      window.close()
    });

</script>


</body>
</html>
